#equation{
	width: 100%;
	height: 48px;
	background-color: #000000;
	border-color: transparent;
	color: #CAD2D3;
	cursor: default;
}
#footer{width:100%;position:absolute;bottom:0px;left:0px;
	font-size: 10px;
	line-height: 15px;}

.col-xs-4,.col-xs-3,.col-xs-2{
	padding-right: 15px;
	padding-left: 15px;
}

#number{
	width: 45%;
	margin-left:auto; margin-right:auto;
}

#sign{
	width: 55%;
	margin-left:auto; margin-right:auto;
}

.btn{
	border-radius: 8px;
}

#count{
	width: 65%;
	margin-left:auto; margin-right:auto;
}

@media screen and (max-width:500px){
	#equation{
	width: 100%;
	height: 48px;
	background-color: #000000;
	border-color: transparent;
	color: #CAD2D3;
	cursor: default;
}
#footer{width:100%;position:absolute;bottom:0px;left:0px;
	font-size: 10px;
	line-height: 15px;}

.col-xs-4,.col-xs-3,.col-xs-2,.col-xs-6{
	padding-right: 3px;
	padding-left: 3px;
}

#number{
	width: 95%;
	margin-left:auto; margin-right:auto;
}

#sign{
	width: 95%;
	margin-left:auto; margin-right:auto;
}

.btn{
	border-radius: 8px;
}

#count{
	width: 95%;
	margin-left:auto; margin-right:auto;
}
footer{
	display: none;
}
}